.title {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0 1rem 1rem;
}

.container {
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2.5rem 1rem;
  place-items: center;
}
